# --------------------
# Python
# --------------------
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# --------------------
# Environment variables
# --------------------
.env
.env.*

# --------------------
# Model / Cache files
# --------------------
.cache/
models/
uploads/

# --------------------
# Logs
# --------------------
*.log

# --------------------
# Docker
# --------------------
*.tar

# --------------------
# IDE / Editor
# --------------------
.vscode/
.idea/

# --------------------
# OS
# --------------------
.DS_Store
